In [ ]:
#Import Of Necessary Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import warnings
warnings.simplefilter("ignore")

In [ ]:
data=pd.read_csv('master.csv')

In [ ]:
data.head()

In [ ]:
data.country.unique()

In [ ]:
data.dtypes

In [ ]:
data.info()

**<h2> Exploratory Data Analysis**

In [ ]:
#Data Cleaning
data["gdp_for_year"]=data[" gdp_for_year"]

In [ ]:
data.drop(" gdp_for_year",axis=1,inplace=True)

In [ ]:
data.info()

In [ ]:
data["gdp_for_year"]=data.gdp_for_year.str.replace(",","")

In [ ]:
data.head()

In [ ]:
data["gdp_for_year"]=data["gdp_for_year"].astype(float)

**<h3>Count Plot for Generations**

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(data['generation'])

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder1=LabelEncoder()
data["sex"]=label_encoder1.fit_transform(data["sex"])

In [ ]:
label_encoder2=LabelEncoder()
data["generation"]=label_encoder2.fit_transform(data["generation"])

In [ ]:
data=data.fillna(0)

In [ ]:
data.drop(columns=["country","country-year","age"],axis=1,inplace=True)

In [ ]:
data.head()

**<h3> Comparing Number of Suicides Between Both the Sexes**

In [ ]:
sns.barplot(x='sex',y='suicides_no',data=data)

In [ ]:
plt.figure(figsize=(15,5))
sns.lineplot(x='year',y='gdp_for_year',data=data)

**<h3> Suicide rate over the given period between both the genders**

In [ ]:
plt.figure(figsize=(15,5))
sns.lineplot(x='year',y='suicides_no',hue='sex',data=data)

In [ ]:
data.dtypes

In [ ]:
#Correlation Matrix
data.corr()

,year,sex,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita,generation,gdp_for_year
year,1.000000e+00,-1.577200e-16,-0.004546,0.008850,-0.039037,3.431898e-01,3.391343e-01,2.683006e-01,9.452857e-02
sex,-1.577200e-16,1.000000e+00,0.144629,-0.011242,0.391496,7.337812e-17,-2.964946e-16,-2.929210e-17,-1.386038e-15
suicides_no,-4.545958e-03,1.446292e-01,1.000000,0.616162,0.306604,-1.730773e-02,6.132975e-02,-7.062371e-02,4.300959e-01
population,8.850170e-03,-1.124208e-02,0.616162,1.000000,0.008285,9.374731e-03,8.150986e-02,-6.796261e-02,7.106973e-01
suicides/100k pop,-3.903680e-02,3.914965e-01,0.306604,0.008285,1.000000,-2.290278e-02,1.785134e-03,-4.982007e-02,2.523964e-02
HDI for year,3.431898e-01,7.337812e-17,-0.017308,0.009375,-0.022903,1.000000e+00,2.165182e-01,4.865837e-02,7.375306e-02
gdp_per_capita,3.391343e-01,-2.964946e-16,0.061330,0.081510,0.001785,2.165182e-01,1.000000e+00,8.289921e-02,3.034045e-01
generation,2.683006e-01,-2.929210e-17,-0.070624,-0.067963,-0.049820,4.865837e-02,8.289921e-02,1.000000e+00,2.125070e-02
gdp_for_year,9.452857e-02,-1.386038e-15,0.430096,0.710697,0.025240,7.375306e-02,3.034045e-01,2.125070e-02,1.000000e+00

In [ ]:
plt.figure(figsize=(10,10))
sns.heatmap(data.corr(),annot=True)

In [ ]:
#Train and Test Data
train=data.drop("suicides_no",axis=1)
test=data["suicides_no"]

In [ ]:
sns.set_style('whitegrid')

In [ ]:
sns.distplot(train['population'],bins=100)

In [ ]:
sns.distplot(np.log(train['population']),bins=100)

**<h3> Studying Trends between Year and Suicide Numbers**

In [ ]:
fig, ax = plt.subplots()
# the size of A4 paper
fig.set_size_inches(13.7, 10.27)
sns.barplot(x='year',y='suicides_no',data=data,ax=ax)

**<h3> Studying Trends between Year and Population**

In [ ]:
fig, ax = plt.subplots()
# the size of A4 paper
fig.set_size_inches(13.7, 10.27)
sns.barplot(x='year',y='population',data=train)

In [ ]:
#Analysis Of all feautres 
sns.pairplot(data,hue="sex")

**<h2> Machine Learning Model**

In [ ]:
#Library for Training Model
from sklearn import model_selection

In [ ]:
#Train Test Split
x_train,x_test,y_train,y_test=model_selection.train_test_split(train,test)

In [ ]:
#Training will be done by RandomForest Algorithm
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression

In [ ]:
alg1=RandomForestRegressor(n_estimators=50,random_state=0,criterion="mse")
alg1.fit(x_train,y_train)

In [ ]:
alg2=LinearRegression()
alg2.fit(x_train,y_train)

In [ ]:
#Prediction
y_pred_1=alg1.predict(x_test)
y_pred_2=alg2.predict(x_test)

In [ ]:
from sklearn import metrics

In [ ]:
print("Random Forest RMSE:",np.sqrt(metrics.mean_squared_error(y_test,y_pred_1)))
print("Linear Regression RMSE:",np.sqrt(metrics.mean_squared_error(y_test,y_pred_2)))